/**** cursus ****/
.section-cursus {
  padding: 3rem 0;
  .title-cursus{
      h2 {
        padding-left: 10px;
        border-left: 3px solid $color_primary;
      }
  }
  .content-cursus {
    padding-bottom: 3rem;
    .number-cursus {
      font-size: 8em;
      font-family: $font_number;
      font-weight: 900;
      position: absolute;
      color: #f3f3f3;
      left: -28px;
      transform:rotate(-90deg);
    }
    .formation {
        font-weight: 900;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        padding-left: 4rem;
        padding-right: 2rem;
        position: relative;
        font-size: 2.2em;
        font-family: $font_secondary;
        p {
          margin-bottom: 0;
        }
        .formation-school {
          color: $color_primary;
        }
    }
    .description {
      padding-left: 4rem;
      padding-right: 2rem;
    }
  }
}
/**** number ****/
.section-number{
  background: $gradient_primary;
  padding: 2rem 0;
  position: relative;
  .content-number {
    color: #fff;
    text-align: center;
    p {
      margin-bottom: 0;
    }
  }
  .number {
    font-size: 4rem;
    font-family: $font_number;
    line-height: 1;
  }
  .number-type {
    font-size: 1.4rem;
    font-weight: 700;
  }
}
/**** outils ****/
.section-outils {
  padding: 3rem 0;
  .title-outil {
    padding-bottom: 2rem;
    h2 {
      padding-left: 10px;
      border-left: 3px solid $color_primary;
    }
  }
  .content-outil {
    text-align: center;
    border: 1px solid $color_grey_light;
    overflow: hidden;
    .outil-name {
      display: block;
      padding-bottom: 1rem;
    }
  }
  .progress {
    border-radius: 0;
    height: 1.5rem;
  }
}

@include maxwidth(sm) {
  .section-cursus .content-cursus {
    padding-bottom: 2rem;
  }
  .section-cursus .content-cursus .formation {
    font-size: 1.7rem;
    padding-left: 3rem;
    padding-right: 0;
  }
  .section-cursus .content-cursus .description {
    padding-left: 3rem;
    padding-right: 0;
  }
  .section-cursus .content-cursus .formation .formation-school {
    display: block;
  }
}
