

body {
  width: 100%;
  font-family: $font_primary;
  padding: 0;
    &.__overflow {
      overflow: hidden;
    }
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}
ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
/**** btn-round ****/
.btn-round-xs {
  width: 30px;
  height: 30px;
}
.btn-round-sm {
  width: 50px;
  height: 50px;
}
.btn-round {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


/**** btn ****/
.btn-default {
  border-radius: 1.5rem;
}
.btn-default-primary {
  background: $color_primary;
  border: 2px solid $color_primary;
  color: #fff;
  transition: 0.3s ease-in-out;
  &:hover, &:focus {
    color: $color_primary;
    background: transparent;
    box-shadow: none;
  }
}
.btn-outline {
  border: 2px solid transparent;
  border-radius: 1.5rem;
}
.btn-outline-primary {
  color: $color_primary;
  background: transparent;
  background-image: none;
  border-color: $color_primary;
    &:hover, &:focus {
      color: #fff;
      background: $color_primary;
      border-color: $color_primary;
    }
}
.btn-outline-white {
  color: $color_primary;
  background: #fff;
  background-image: none;
  border-color:  #fff;
    &:hover, &:focus {
      color: #fff;
      background: transparent;
      border-color: #fff;
    }
}
.btn-default-lg {
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
}
.btn .svg-inline--fa {
  margin-right: 10px;
}
.btn#enter .svg-inline--fa {
  margin-right: 0;
  margin-left: 10px;
  vertical-align: middle;
}
.btn-dark:hover, .btn-dark:focus {
  color: #fff;
}
.btn-dark:focus {
  box-shadow: none;
}
.btn-dark:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  background: $color_primary;
  border-color: $color_primary;
}
.btn-outline-primary:focus, .btn-outline-primary.focus{
  box-shadow: none;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: none;
}

/**** title section ****/
.title-section {
  font-family: $font_secondary;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  padding-bottom: 5px;
  position: relative;
  border-left: 3px solid $color_primary;
  padding-left: 10px;
}
.title-inline {
  display: inline-block;
}

/**** description section ****/
.desc-section {
  padding: 1rem 0;
}
/**** animate ****/
.animated-slow {
    animation-duration: 2s;
    animation-fill-mode: both;
}
.animated-slow.infinite {
    animation-iteration-count: infinite;
}

.delay-2s {
  animation-delay: 2s;
}
.delay-3s {
  animation-delay: 2.5s;
}
/**** box ****/
.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}
