.footer {
  padding: 1rem 0;
  background-color: $color_grey_light;
  .copy {
    font-size: 13px;
    margin-bottom: 0;
    .logo-footer {
      width: 25px;
      height: 25px;
      vertical-align: -5px;
      margin-right: 8px;
    }
}
.gotop {
  background-color: $color_primary;
  padding: 5px;
  width: 30px;
  height: 30px;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  line-height: 1.3;
  margin-left: 10px;
}
}

@include maxwidthlandscape(md) {
  .footer {
    display: none;
  }
}
