/***** header *****/
.header-page {
  height: 450px;
.header-page-img {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    padding: 9rem 0;
    .hero-page {
      height: 100%;
      color: #fff;
      padding: 5rem 0;
        h1 {
          text-transform: uppercase;
          font-weight: 600;
            &::after {
              content:'';
              display: block;
              margin-top: 5px;
              width: 35px;
              height: 5px;
              background-color: $color_primary;
            }
        }
        .baseline {
          padding-top: 15px;
          display: block
        }
    }
}
}
