/***** header *****/
.header-page {
  height: 450px;
.header-page-img {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    padding: 9rem 0;
    .hero-page {
      height: 100%;
      color: #fff;
      padding: 5rem 0;
        h1 {
          text-transform: uppercase;
          font-weight: 600;
          border-left: 3px solid $color_primary;
          padding-left: 10px;
        }
        .baseline {
          padding-top: 15px;
          display: block
        }
    }
}
}
