/***** header *****/
.header-page {
  height: 450px;
  position: relative;
  &::before {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $gradient_primary_rgba;
  }
  &::after {
    content: '';
    display: block;
    height: 100%;
    background: url('../../assets/img/wave-header-page.svg') bottom no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
  }
.header-page-img{
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-top: 9rem;
    .hero-page {
      height: 100%;
      color: #fff;
      position: relative;
        h1 {
          text-transform: uppercase;
          font-weight: 600;
          border-left: 3px solid $color_primary;
          padding-left: 10px;
          font-family: $font_secondary;
        }
        .baseline {
          padding-top: 15px;
          display: block;
          font-size: 1rem;
        }
    }
    &.header-error {
      background-attachment: inherit;
    }
}
}

.header-single-post {
  height: 490px;
  position: relative;
  .header-page-img{
      background-size: cover;
      background-position: center;
      height: 100%;
      &::before {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right:  0;
        background: $gradient_primary_rgba;
      }
  }
}

@include maxwidth(md) {
  .header-page {
    height: 370px;
  }
}
