.wrap-whale {
  // width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 50px;
  position: relative;
    .whale {
      width: 72%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: -15px;
      opacity: 0.8;
      overflow: visible;
    }
    .scroll-down {
      position: absolute;
      right: -18px;
      bottom: 70px;
      transform: rotate(90deg);
        p {
          color: #fff;
          font-size: 12px;
          margin: 0;
          padding-right: 10px;
          display: inline-block;
        }
        .mouse {
          transform: rotate(90deg);
          display: inline-block;
        }
    }
}
#illu-home {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  overflow: visible;
  polygon {
    stroke-width: 0.2;
    overflow: visible;
  }
  .cls-1 {
  fill: #efef92;
  stroke: #efef92;
}
.cls-2 {
  fill: #f7ec69;
  stroke: #f7ec69;
}
.cls-3 {
  fill: #efd53a;
  stroke: #efd53a;
}
.cls-4 {
  fill: #d30d3c;
  stroke: #d30d3c;
}
.cls-5 {
  fill: #f91545;
  stroke: #f91545;
}
.cls-6 {
  fill: #e7f251;
  stroke: #e7f251;
}
.cls-7 {
  fill: #31918e;
  stroke: #31918e;
}
.cls-8 {
  fill: #67f4a0;
  stroke: #67f4a0;
}
.cls-9 {
  fill: #187772;
  stroke: #187772;
}
.cls-10 {
  fill: #09aa8b;
  stroke: #09aa8b;
}
.cls-11 {
  fill: #2ad39b;
  stroke: #2ad39b;
}
.cls-12 {
  fill: #f74848;
  stroke: #f74848;
}
.cls-13 {
  fill: #ef3763;
  stroke: #ef3763;
}
.cls-14 {
  fill: #d63060;
  stroke: #d63060;
}
}

/**** responsive ****/
@include minmaxwidthlandscape(md, lg) {
}

@include maxwidth(md) {
  .wrap-whale {
    display: none;
  }
}
