/*
---------------
 section webdesign
---------------
*/
.section-webdesign {
  .wrap-top {
    background: $gradient_primary;
    overflow: hidden;
    .wrap-webdesign {
      display: flex;
      .webdesign-block-txt {
        padding: 3rem;
        background: #fff;
      }
      .content-parallax {
        max-height: 650px;
      }
    }
  }
  .wrap-bottom {
    background: $color_grey_light;
    position: relative;
    &::before {
      content:'';
      position: absolute;
      height: 100%;
      background-image: url('../../assets/img/wave-webdesign.svg');
      left: 0;
      right: 0;
      bottom: -30px;
      background-size: cover;
      background-position: center bottom;
    }
    .wrap-device {
      position: relative;
      .device-img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 3% 14% 7% 14%;
        overflow: hidden;
      }
    }
    .device-block-txt {
      padding: 3rem;
    }
  }
  .btn .svg-inline--fa {
    margin-right: 0;
  }
}

/**** responsive ****/
@include maxwidth(xxs) {
.section-webdesign .wrap-top .wrap-webdesign {
  flex-direction: column;
  margin-left: -15px;
  margin-right: -15px;
}
}
@include maxwidth(sm) {
  .section-webdesign {
    padding-top: 0 !important;
  }
.section-webdesign .wrap-top .wrap-webdesign .webdesign-block-txt {
  padding: 15px;
  padding-bottom: 50px;
}
.content-parallax {
  overflow: hidden;
}
.section-webdesign .wrap-bottom .device-block-txt {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0;
}
}
