/*
---------------
 section post
---------------
*/
.section-post {
  background: #fff;
  .block-txt-post {
    padding-left: 0;
    padding-right: 0;
  }
  .wrap-post {
    overflow: hidden;
    .row {
      position: relative;
      box-shadow: 980px 0px 0px 0px $color_grey_light;
    }
    .content-img {
      background-image: linear-gradient(90deg,rgba(255, 255, 255, 0) 50%, $color_grey_light 0%);
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
    &:nth-child(2n+1)::before {
      left: 0;
    }
    &:nth-child(2n+1) .row {
      flex-direction: row-reverse;
      box-shadow: -980px 0px 0px 0px $color_grey_light;
    }
    &:nth-child(2n+1) .content-img {
      background-image: linear-gradient(90deg, $color_grey_light 50%, rgba(255, 255, 255, 0) 0%);
    }
  }
  .content-txt {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background: #fff;
    .wrap-icon-post {
      font-size: 3rem;
      margin-bottom: 2.5rem;
      display: flex;
      .icon-post {
        padding-right: 15px;
        .cat-post {
          font-size: 1rem;
          padding-left: 10px;
          text-transform: uppercase;
          border-left: 3px solid $color_primary;
          margin-left: 10px;
        }
      }
    }
    .title-post {
      font-family: $font_secondary;
      font-weight: 600;
    }
    .btn-post {
      display: inline-block;
        .svg-inline--fa {
          font-size: 1.5rem;
          vertical-align: middle;
        }
    }
  }
}
@include minmaxwidth(md, lg) {
.section-post .wrap-post .row {
      box-shadow: 955px 0px 0px 0px $color_grey_light;
}
.section-post .wrap-post:nth-child(2n+1) .row {
      flex-direction: row-reverse;
      box-shadow: -955px 0px 0px 0px $color_grey_light;
    }
}
@include minmaxwidth(sm, md) {
  .section-post .content-txt {
      padding-top: 15px;
  }
}

@include maxwidth(sm) {
  .section-post {
    padding-top: 0 !important;
  }
  .section-post .content-txt {
      padding-top: 15px;
  }
}

@media (max-width: 350px) {
.section-post .content-txt .wrap-icon-post {
  display: block;
}
 }
