/*
---------------
 icon font
---------------
*/
@font-face {
  font-family: 'portfoliohl-icon';
  src:  url('../../css/fonts/portfoliohl-icon.eot?bifwj0');
  src:  url('../../css/fonts/portfoliohl-icon.eot?bifwj0#iefix') format('embedded-opentype'),
        url('../../css/fonts/portfoliohl-icon.ttf?bifwj0') format('truetype'),
        url('../../css/fonts/portfoliohl-icon.woff?bifwj0') format('woff'),
        url('../../css/fonts/portfoliohl-icon.svg?bifwj0#portfoliohl-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.portfolio_hl-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'portfoliohl-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.portfoliohl-browser:before {
  content: "\e900";
}
.portfoliohl-laptop:before {
  content: "\e901";
}
.portfoliohl-light-bulb:before {
  content: "\e902";
}
.portfoliohl-responsive:before {
  content: "\e903";
}
.portfoliohl-settings:before {
  content: "\e904";
}
.portfoliohl-vector:before {
  content: "\e905";
}

/*
---------------
 section service
---------------
*/
.section-service {
  background: #fff;
  z-index: 10;
  .content-service.style-inline {
    flex-direction: column;
      .content-icon {
        display: flex;
        flex-wrap: wrap;
      }
  }
  .content-service.style-column {
    display: flex;
  }
  .content-icon.style-column {
    flex-wrap: wrap;
    display: flex;
  }
  .block-txt-service {
    padding-left: 0;
    padding-right: 0;
  }
  .icon-item {
  border: 2px solid $color_secondary;
	display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
	transition: 0.3s ease-in-out;
	overflow: hidden;
	width: 110px;
	height: 110px;
  i {
		transition: 0.3s ease-in-out;
    font-family: 'portfoliohl-icon';
    font-size: 50px;
    font-style: normal;

    }
		&:hover {
			transition: 0.3s ease-in-out;
			border: 2px solid $color_secondary;
			background: $color_secondary;
			i {
				transition: 0.3s ease-in-out;
				color: #fff;
				font-size: 40px;

			}
		}
		&.icon-round {
			border-radius: 50%;
		}
		&.icon-square {
			border-radius: 0;
		}
}
.icon-caption {
  padding-top: 0.5rem;
  text-align: center;
}
.detail-service {
  padding-bottom: 4rem;
  &.style-column {
    padding-top: 2rem;
  }
  .card {
    background: transparent;
  }
  .card-header {
   background: transparent;
   border-bottom: none;
 }
  .title-collapse{
    h5{
      display: flex;
    }
    span {
      padding: 0.375rem 0;
    }
    .btn-link {
      color: $color_primary;
    }
    button {
      &.show {
        .svg-inline--fa {
          transform: rotate(-45deg);
          transition: transform 0.3s ease-in-out;
        }
      }
      .svg-inline--fa {
        transition: transform 0.3s ease-in-out;
      }
    }
  }
  .accordion {
    .card:first-of-type {
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
  }
}

}

/**** responsive ****/
@include maxwidth(lg) {
  .section-service .content-service.style-column {
    display: block;
  }
}
