$color_red: #ff5252;
$color_purple: #8b56b2;
$color_purple_dark: #453571;
$color_yellow: #face40;
$color_fig: #3f4253;
$color_blue_light: #7fadc5;
$color_blue_dark: #415ba5;
$color_blue_flash: #98e6f4;
$color_blue_green: #c9ead9;
$color_green: #94bb5d;
$color_dark: #1b2028;
$color_grey_light: #efefef;
$color_grey_dark: #bcbcbc;


$color_primary: $color_yellow;
$color_header: $color_purple_dark;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
$font_primary: 'Open Sans', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
$font_secondary: 'Montserrat', sans-serif;
